@import "base";

.example {
  --bg-color: pink;
  background-color: var(var(--bg-color));
}

//? ************* Mixins ***************

@mixin whiteBtn {
  border: none;
  background-color: transparent;
  color: var(--color-font);
  font-size: 2.7rem;
  cursor: pointer;
}

@mixin FlexCenter {
  display: flex;
  align-items: center;
}

@mixin FlexColumn {
  display: flex;
  flex-direction: column;
}

@mixin Popup {
  @include FlexColumn();
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 450px;
  width: 80%;
  padding: 2rem;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  background-color: #191919;
  z-index: 100;
}

@mixin StatBtn {
  @include FlexCenter();
  background-color: rgb(107, 180, 80);
  color: var(--color-font);

  border: none;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 5px;
}

.container {
  @include FlexColumn();
  position: relative;
  background-color: var(--color-primary);
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
}

// ************** Header ***************

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  background-color: var(--color-primary);
  border-bottom: solid 0.5px var(--color-grey-dark-1);
  height: 8vh;

  &__menu {
    @include whiteBtn;
  }

  &__icons {
    @include FlexCenter;

    gap: 1rem;

    &__icon {
      @include whiteBtn;
    }
  }
}

// ************** Logo ***************

.logo {
  color: var(--color-font);
  font-size: 3rem;
  font-family: "Amiri", serif;
}

// ************** CloseBtn ***************

.closeBtn {
  @include whiteBtn;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-end;
}

// ************** Menu ***************
.menu {
  @include FlexColumn();
  justify-content: space-between;
  position: absolute;
  top: 8vh;
  height: 92vh;
  z-index: 999;
  background-color: var(--color-primary);
  border-right: var(--line);
  box-shadow: var(--shadow-box);

  &__header {
    @include FlexCenter;
    justify-content: space-between;
    padding: 1.5rem;

    &__div {
      @include FlexCenter;
      gap: 1rem;

      h1 {
        font-family: "Amiri", serif;
        font-size: 2rem;
      }

      button {
        @include whiteBtn;
        border-right: var(--line);
        padding-right: 0.5rem;
        font-size: 2rem;
      }
    }
  }

  &__moreFrom {
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    text-transform: uppercase;
  }

  .btn--color {
    color: var(--color-font);
  }

  .btn {
    @include FlexCenter;
    border: none;
    border-radius: 3px;
    padding: 0.2rem;
    order: -3;
    font-size: 1.6rem;
  }
  &__more {
    list-style: none;
    border-bottom: var(--line);
    border-color: var((--color-font));
    padding: 1.5rem 0rem;

    li {
      @include FlexCenter;
      gap: 2rem;
      padding: 0.75rem 1.5rem;

      &:hover {
        cursor: pointer;
        background-color: var(--color-grey-dark-1);
      }

      p {
        font-size: 1.3rem;
        text-transform: capitalize;
      }
    }

    &__item {
      p {
        padding-left: 4rem;
      }
    }

    &__btn--orange {
      background-color: orangered;
    }

    &__btn--blue {
      background-color: rgb(48, 129, 227);
    }

    &__btn--yellow {
      background-color: rgb(235, 230, 72);
      color: #191919;
    }

    &__btn--pink {
      background-color: rgb(8, 146, 61);
    }
  }

  &__privacy {
    padding: 2rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;
  }

  &__btnGroup {
    @include FlexCenter();
    gap: 1rem;
    padding: 1.5rem;
    & > * {
      flex: auto;
    }
    &__btn {
      padding: 1rem;
      font-size: 1.1rem;
      font-weight: 700;
      border: none;
      text-transform: uppercase;

      &:hover {
        color: white;
        cursor: pointer;
      }

      &--white {
        background-color: white;
        color: black;

        &:hover {
          background-color: black;
        }
      }

      &--black {
        background-color: black;
        color: white;

        &:hover {
          background-color: var(--color-grey-dark-2);
        }
      }
    }
  }
}

// ************** Game ***************

.gameContainer {
  @include FlexColumn();
  // padding-top: 10vh;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

//! **************  Grid ***************

.cellsGrid {
  margin: auto 0;
  display: grid;
  place-items: center;
  gap: 0.4rem;

  grid-template-columns: repeat(5, auto);
}

.cell {
  border: solid 1.5px var(--color-grey-dark-2);
  border-radius: 2px;

  color: var(--color-font);
  font-weight: 700;
  width: 6rem;
  height: 6rem;
  font-size: 2.7rem;
  padding: 1.5rem;
  background-color: transparent;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  @media screen and (max-width: 500px) {
    width: 5rem;
    height: 5rem;
  }
}

//! ************** Letters ***************

.letters {
  @include FlexColumn();
  align-items: center;
  padding: 2rem;
  gap: 0.7rem;
  margin-bottom: 2rem;

  &__row {
    @include FlexCenter();
    gap: 0.6rem;
  }
}
.letter {
  @include FlexCenter();
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 2rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-font);

  background-color: var(--color-grey-dark-1);

  &:hover {
    background-color: rgb(196, 32, 32);
  }

  & svg {
    font-size: 1.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.letter--yellow {
  background-color: var(--color-teritiary);
}
.letter--green {
  background-color: var(--color-secondary);
}

.letter--grey {
  background-color: var(--color-grey-dark-3);
}

.disableLetters {
  pointer-events: none;
}

// toDo ************** Modals ***************
// ***************** Questions *************

.quesPanel {
  @include Popup();
  font-size: 1.3rem;

  a {
    color: var(--color-blue);
    text-decoration: none;
    margin: 0rem 0.3rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    @include FlexColumn();
    padding: 1rem;
    gap: 1.5rem;
    &__titles {
      text-transform: capitalize;

      h1 {
        font-family: "Amiri", serif;
        font-size: 2.7rem;
        line-height: 2.5rem;
      }
      h2 {
        font-weight: 100;
        font-size: 1.7rem;
      }
    }

    &__list {
      margin-left: 2rem;

      li {
        margin-bottom: 0.5rem;
        line-height: 2.1rem;
      }
    }

    &__exampTitle {
      font-size: 1.5rem;
    }

    &__example {
      figcaption {
        font-size: 1.4rem;
      }
    }
  }

  &__stats {
    @include FlexCenter();
    gap: 0.5rem;
    padding: 1.5rem 0rem;
    border-top: var(--line);
    border-bottom: var(--line);
    border-color: var(--color-font);

    &__btn {
      @include StatBtn();
    }
  }

  &__contact {
    p {
      margin: 1.5rem 0rem;
    }
    &__info {
      width: 82%;
    }
  }
}

//! ************** Example ***************

.example {
  @include FlexCenter();
  gap: 0.4rem;
  margin-bottom: 1rem;

  &__btn {
    color: var(--color-font);

    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    border: solid 0.2px var(--color-grey-dark-2);
    background-color: transparent;
    min-height: 3.5rem;
    min-width: 3.5rem;
  }
}

// *****************Statistics *************

.statsPanel {
  @include Popup();

  &__link {
    font-weight: 200;
    font-size: 1.3rem;
    margin-top: 1rem;

    &:link {
      color: var(--color-font);
    }

    &:visited {
      color: rgb(220, 34, 34);
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__linkBtn {
    display: block;
    background-color: transparent;
    border-radius: 40px;
    border: solid 0.5px var(--color-font);
    padding: 0.7rem 2rem;
    text-decoration: none;
    color: var(--color-font);
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1.5rem;
  }

  &__content {
    @include FlexColumn();
    align-items: center;

    gap: 2rem;

    &__stats {
      @include FlexColumn();
      align-items: center;
      gap: 0.5rem;

      &__title {
        font-size: 2rem;
      }

      &__per {
        @include FlexCenter();
        align-items: baseline;
        gap: 3rem;

        div {
          @include FlexColumn();
          align-items: center;
          justify-content: center;

          h1 {
            font-size: 3.5rem;
            font-weight: 200;
          }

          p {
            text-align: center;
            font-size: 1rem;
            margin-top: -1rem;

            br {
              display: block;
              content: "";
              margin-top: -0.5rem;
            }
          }
        }
      }
    }

    &__data {
      @include FlexColumn();
      align-items: center;
      font-size: 1.4rem;

      h1 {
        text-transform: capitalize;
        font-size: 1.7rem;
      }
    }

    &__link {
      border: var(--line);
      border-color: var(--color-grey-dark-2);
      border-left: 0;
      border-right: 0;
      display: grid;
      padding: 2rem 3rem;
      gap: 1rem;

      align-items: start;
      justify-items: start;
      grid-template-columns: repeat(2, auto);

      &__btn {
        position: relative;
        .statBtn {
          @include StatBtn();
        }

        .stickBtn {
          background-color: transparent;
          color: var(--color-font);
          right: -5%;
          bottom: -15%;
          border: none;
          position: absolute;
        }
      }

      &__login {
        @include FlexColumn();
        gap: 0.2rem;

        p {
          font-size: 1.15rem;
        }

        span {
          color: var(--color-blue);
          text-transform: uppercase;
        }
      }

      .statsPanel__link {
        grid-column: 1 / span 2;
        place-self: center;
      }
    }

    &__bee {
      @include FlexCenter();
      padding: 0.7rem 7rem;
      gap: 1rem;
      text-transform: capitalize;

      button {
        background-color: transparent;
        border: none;
        color: rgb(248, 248, 33);
        font-size: 2rem;
      }
    }
  }
}

// ***************** Settings *************

.settingPanel {
  @include Popup();
  align-items: center;
  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__sets,
  &__footer {
    align-self: stretch;
  }

  &__sets__slide,
  &__sets__normal,
  &__footer {
    @include FlexCenter();
    justify-content: space-between;
    border-bottom: var(--line);
    padding: 1rem;
  }

  &__footer,
  &__sets p {
    font-size: 1.05rem;
    color: var(--color-grey-dark-3);
  }

  &__sets {
    h1 {
      font-size: 1.7rem;
    }

    &__normal p {
      font-size: 1.5rem;
    }
  }
  &__footer {
    border-bottom: none;
  }
}

//! ************** Switch ***************
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-green);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// ***************** Modal *************

.modal {
  position: absolute;
  z-index: 55;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.4;
}

// ***************** Error *************

.error {
  position: absolute;
  top: 7vh;
  left: 43.5%;
  background-color: var(--color-font);
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-primary);
}

// ***************** Results *************

.resultPanel {
  @include Popup();
  &__title {
    font-size: 2.5rem;
    text-align: center;
  }
  &__content {
    padding: 1rem;
    pointer-events: none;
    @include FlexCenter();
  }
}

// ***************** Results Gif *************
